@require './config';

body {
    background: #f6f6f6;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

pre {
    user-select: text;
    -webkit-touch-ctextout: text; /* iOS Safari */
    -webkit-user-select: text; /* Chrome/Safari/Opera */
    -khtml-user-select: text; /* Konqueror */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text;
}

.page-head {
    max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    margin-top: 4.6rem;
    margin-bottom: 20px;
    background: #fff;

    h1 {
        color: $textColor;
        margin-top: 0;
    }

    .page-head-footer {
        text-align: right;

        .tags {
            float: left;
        }
    }
}

.page {
    .content {
        background: #fff;

        &:not(.custom) > *:first-child {
            margin-top: 0;
        }
    }

    .list-content {
        max-width: 740px;
        margin: 0 auto;
        padding: 2rem 2.5rem;
    }

    .item-card {
        padding: 16px 20px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58);
        margin-bottom: 30px;

        &:hover {
            box-shadow: 1px 2px 2px rgba(151, 151, 151, 0.6);
        }

        h2 {
            margin-top: 0;
            padding-bottom: 1rem;
        }

        .item-body {
            line-height: 1.7rem;
            padding: 0 0 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item-img {
                width: 6rem;
                height: 5rem;
                flex-shrink: 0;
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }

        &::after {
            content: ' ';
            display: block;
            clear: both;
        }

        .card-footer {
            text-align: right;

            .tags {
                float: left;
            }
        }
    }
}

.tags {
    background: $accentColor;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.time {
    white-space: nowrap;
    color: #999;
    margin-left: 10px;
    // border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 5px;
    line-height: 28px;
}

.back-top {
    position: fixed;
    right: 40px;
    bottom: 40px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 5px;
            background: #ddd;
            border-radius: 50%;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                background: #ccc;
            }

            img {
                width: 28px;
                display: block;
            }
        }
    }

    .wxcode {
        position: absolute;
        display: none;
        right: 50px;
        bottom: 10px;
        border: 2px solid #ccc;
        background-color: #ccc;

        img {
            width: 150px;
            display: block;
        }
    }

    .wxcode-show {
        display: block;
    }
}

.tooltip:hover {
    position: relative;

    &:before {
        content: attr(data-title);
        position: absolute;
        background: #444;
        white-space: nowrap;
        right: 46px;
        color: #fff;
        font-size: 0.8rem;
        padding: 0 5px;
        border-radius: 5px;
        top: 20%;
    }

    &:after {
        content: ' ';
        position: absolute;
        right: 40px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 8px solid #444;
        top: 30%;
    }
}
