@require './config';

$mobileSidebarWidth = $sidebarWidth * 0.82;

// narrow desktop / iPad
@media (max-width: $MQNarrow) {
}

// wide mobile
@media (max-width: $MQMobile) {
    .page {
        .page-content {
            flex-direction: column;
            margin-top: 6.6rem;

            .page-right {
                position: fixed;
                margin-left: -2.5rem;
                top: 3.5rem;
                width: 100%;

                ul {
                    white-space: nowrap;
                    overflow: scroll;

                    li {
                        margin-bottom: 0;
                    }
                }

                .title {
                    display: none;
                }
            }
        }
    }

    // narrow mobile
    @media (max-width: $MQMobileNarrow) {
    }
}
