@require './config';

$mobileSidebarWidth = $sidebarWidth * 0.82;

// narrow desktop / iPad
@media (max-width: $MQNarrow) {
}

// wide mobile
@media (max-width: $MQMobile) {
    .page {
        .page-content {
            flex-direction: column;
            margin-top: 6.6rem;
            padding: 0;

            .page-right {
                position: fixed;
                margin-left: 0;
                top: 3.5rem;
                width: 100%;

                ul {
                    white-space: nowrap;
                    overflow: scroll;

                    li {
                        margin-bottom: 0;
                    }
                }

                .title {
                    display: none;
                }
            }

            .list-content {
                margin-top: 10px;

                .item-card {
                    margin-bottom: 10px;
                }
            }
        }

        .favorite {
            h3 {
                margin-left: 10px;
            }

            .favorite-list {
                flex-flow: column;

                .item-card {
                    width: inherit;
                    margin-left: 10px;
                }
            }
        }

        .back-top {
            right: 20px;
            bottom: 20px;
        }
    }

    // narrow mobile
    @media (max-width: $MQMobileNarrow) {
    }
}
